:host {
    display: flex;
    flex-direction: row;
    margin: auto !important;
    width: min-content;
}

.meld {
    display: flex;
    flex-direction: row;
    position: relative;
}

#stock-pile {
    background-image: url('../../../public/ai-generate-card.png');
    background-size: 107%;
    background-position: center;
}

#end-card {
    background-image: url('../../../public/ai-generate-card.png');
    background-size: 107%;
    background-position: center;
    position: absolute;
    z-index: 10;
    rotate: 90deg;
}