.gin-player-hand {
    display: flex;
    flex-direction: row;
    margin: auto !important;
    width: min-content;
}

.meld {
    display: flex;
    flex-direction: row;

    .card {
        margin-left: -50px;
        &:first-of-type {
            margin-left: 0;
        }
    }
}
