.gin-player-hand {
    display: flex;
    flex-direction: row;
    margin: auto !important;
    width: min-content;
    height: 100%;
    align-items: center;
}

.meld {
    display: flex;
    flex-direction: row;

    .card {
        margin-left: -50px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    &.declared {
        border-bottom: 3px dashed yellow;
    }
}