/* You can add global styles to this file, and also import other style files */

body {
    background: #333;
    color: white;
}

a {
    color: white;
    &:visited {
        color: white;
    }
}

.black {
    color: #000
}

.red {
    color: #f00
}

.playing-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gin-table {
    margin: auto;
    width: 1000px;
    height: 750px;
    border: 1px solid black;
    border-radius: 5px;
    background-image: url('../public/bg.gif');
    background-repeat: repeat;
    display: grid;
    grid-template-rows: auto auto auto;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    height: 125px;
    width: 82px;

    &.empty {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        color: #999;
    }
}

.highlighted {
    outline: 1px solid yellow;
}